<!DOCTYPE html>
<html>
  <head>
    <title>Yuvasoft</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <h2><p class="notice"><%= notice %></p></h2>
       <h2><p class="alert"><%= alert %></p></h2>

    <%= yield %>
  </body>
</html>
